<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/estilos.css">
	<script src="js/angular.min.js"></script>
	<script src="js/index.js"></script>
	<script src="js/controller/background.js"></script>
	<script src="js/controller/palavra.js"></script>
	<script src="js/controller/tecla.js"></script>
</head>
<body ng-app="forcaApp">

	<div ng-controller="BackgroundController" id="background">
		
	</div>

	<div ng-controller="PalavraController" id="palavra" >
		<span class="item" ng-repeat="caracter in palavra_secreta track by $index"  key="{{caracter}}"></span>
	</div>
	
	<div ng-controller="TeclaController" id="teclas" class="teste">
		<span class="letra" ng-click="checaLetra(letra)" ng-repeat="letra in letras" >{{letra}}</span>
	</div>

</body>
</html>