<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/estilos.css">
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="model/plavras.js"></script>
	<script src="js/index.js"></script>
	<script src="js/service/pontos.js"></script>
	<script src="js/controller/ponto.js"></script>
	<script src="js/controller/background.js"></script>
	<script src="js/controller/palavra.js"></script>
	<script src="js/controller/tecla.js"></script>
	
</head>
<body ng-app="forcaApp">

	<div ng-controller="PontoController" id="barra">
		<span>Chances: {{chances}}</span>
	</div>

	<div ng-controller="BackgroundController" id="background">
		<canvas id="myCanvas" width="600" height="300"></canvas>
	</div>

	<div ng-controller="PalavraController" id="palavra" >
		<span class="item" ng-repeat="caracter in palavra_secreta track by $index"  key="{{caracter}}"></span>
		<p class="dica" >Dica: {{dica}}</p>
	</div>
	
	<div ng-controller="TeclaController" id="teclas" >
		<span letra="{{letra}}" class="letra" ng-click="checaLetra(letra)" ng-repeat="letra in letras" >{{letra}}</span>
	</div>

</body>
</html>